@model Email_Info
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouta.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h5 class="title">Edit Emails</h5>
                </div>
                <form action="/Admin/Email/EditEmail1" method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label asp-for="email_id" class="bmd-label-floating">Category Id</label>
                                    <input asp-for="email_id" type="text" id="email_id" name="email_id" value="@Model.email_id" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label asp-for="email" class="bmd-label-floating">Category Title</label>
                                    <input asp-for="email" type="text" name="email" id="email" value="@Model.email" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-fill btn-primary" name="submit" value="Update" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>