@model Products
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouta.cshtml";
}
<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
        <!-- your content here -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Add Products</h4>
                    <p class="card-category">Complete User profile</p>
                </div>
                <div class="card-body">
                    <form action="" method="post" name="form" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group bmd-form-group">
                                    <label asp-for="product_cat" class="bmd-label-floating">Product Category</label>
                                    <input asp-for="product_cat" type="text" id="product_cat" name="product_cat" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label asp-for="product_brand" class="bmd-label-floating">Product Brand</label>
                                    <input asp-for="product_brand" type="text" name="product_brand" id="product_brand" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label asp-for="product_title" class="bmd-label-floating">Product Title</label>
                                    <input asp-for="product_title" type="text" name="product_title" id="product_title" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label asp-for="product_price" class="bmd-label-floating">Product Price</label>
                                    <input asp-for="product_price" type="text" id="product_price" name="product_price" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label asp-for="product_desc" class="bmd-label-floating">Product Description</label>
                                    <input asp-for="product_desc" type="text" id="product_desc" name="product_desc" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label asp-for="product_image" class="bmd-label-floating">Product Image</label>
                                    <input asp-for="product_image" type="text" name="product_image" id="product_image" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label asp-for="product_keywords" class="bmd-label-floating">Product Keywords</label>
                                    <input asp-for="product_keywords" type="text" name="product_keywords" id="product_keywords" class="form-control" required>
                                </div>
                            </div>

                        </div>

                        <button type="submit" value="CreateProduct" name="btn_save" id="btn_save" class="btn btn-primary pull-right">Update Product</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
